.StockMain {
    position: relative;
}

.StockContainer {
    background-color: white;
}

.price {
    margin: 0px;
    padding: 0px;
    display: inline;
    position: absolute;
    right: 15px;
    font-weight: bold;
  }