.WatchlistMain .theStocks {
    list-style: none;
    width: 250px;
} 
.WatchlistMain div {
    color: #333;
    padding: 0px;
    margin-bottom: 5px;
    border-radius: 2px;
}

h2 {
    color: white;
}

ul.theStocks {
    padding: 0;
}
